<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Varvara</title>
  <%= stylesheet_link_tag "varvara/application" %>
  <%= javascript_include_tag "varvara/application" %>
  <%= csrf_meta_tags %>
  </head>
<body>
<%= render partial: 'layouts/header' %>	

<%= yield %>

<%= render partial: 'layouts/footer' %>	
</body>
</html>